img {
  max-width: 100%;
  margin: 2%;
}
.imagesSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.documentSection {
  background-color: rgb(106, 140, 170);
  margin: 2% 0;
  padding: 2%;
}